@use "variables";

.navbar_container {
    background: variables.$dark_navbar_color;
    display: grid;
    overflow: hidden;
    flex-grow: 1;
    grid-template-columns: auto auto;

    .title {
        display: grid;
        grid-template-columns: 100px 120px;
        align-items: start;
        grid-column: 1;
        align-self: start;

        img {
            width: 100px;
            height: 100px;
            grid-column: 1;
            margin-top: 0.5em;

            &:hover { filter: drop-shadow(2mm 2mm 2mm variables.$hover_shadow); }
        }
        h1 {
            margin-top: 0.5em;
            font-size: 200%;
            grid-column: 2;
            align-self: center;
        }
    }

    .buttons {
        display: grid;
        grid-template-rows: auto auto;
        justify-self: center;
        grid-column: 2;
        height: fit-content;
        margin-top: 0.5em;
        margin-left: 75%;
        margin-bottom: 0.5em;

        a {
            margin-bottom: 0.5em;
        }
    }
}