@use "variables";

.navbar_container {
    background: variables.$dark_navbar_color;
    display: grid;
    overflow: hidden;
    flex-grow: 1;
    grid-template-columns: auto auto;

    .title {
        display: grid;
        grid-template-columns: 100px 120px;
        align-items: start;
        grid-column: 1;
        align-self: start;

        img {
            width: 100px;
            height: 100px;
            grid-column: 1;
            margin-top: 0.5em;

            &:hover { filter: drop-shadow(2mm 2mm 2mm variables.$hover_shadow); }
        }
        h1 {
            margin-top: 0.5em;
            font-size: 200%;
            grid-column: 2;
            align-self: center;
        }
    }

    .buttons {
        display: grid;
        grid-template-rows: auto auto;
        justify-self: center;
        grid-column: 2;
        height: fit-content;
        margin-top: 1em;
        margin-left: 80%;

        a {
            margin-bottom: 0.5em;
        }
    }


    .user_items {

        display: flex;
        justify-self: end;
        margin-right: 1%;
        border: #213547 2px solid;
        border-radius: 5px;

        .user_item {
            border-radius: 100px;
            height: 40px;
            width: 40px;
            margin-top: auto;
            margin-bottom: auto;
            padding: 8px;
            margin-right: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

    }

    .formulas_input {
        display: block;
        column-span: 2;

        .description {
            margin-left: 1%;
            width: fit-content;
        }

        input {
            margin-left: 1%;
            margin-bottom: 1%;
            width: 100%;
            border-radius: 5px;
            height: 25px;
        }
    }
}