@use "variables";

.sheet_list {

    .item_container {
        overflow-y: auto;
        margin-right: auto;
        margin-left: auto;
        max-height: 46vh;
        width: 80%;

        .sheet_item {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid variables.$dark_input_border_color;
            transition: background-color 0.3s;

            &:hover { background-color: variables.$dark_list_hover_color;}

            .sheet_info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 1em;
                margin-left: 1em;
            }
        }
    }
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_button {
    position: fixed;
    top: 90%;
    left: 95%;

    img {
        width: 50px;
        height: 50px;

        &:hover { scale: 125%; }
    }
}

.remove_button {
    align-items: center;
    background-color: transparent;
    border: none; 
    cursor: pointer;

    img {
        width: 25px;
        height: 25px;

        &:hover { scale: 125%; }
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dots {
    cursor: pointer;
    padding: 8px;

    img {
        width: 25px;
        height: 25px;

        &:hover { scale: 125%; }
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
    border-radius: 8px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }
  
  .dropdown-content a:hover {
    background-color: variables.$dark_list_hover_color;
  }