.sheet_list {

    .item_container {
        overflow-y: auto;
        margin-right: auto;
        margin-left: auto;
        max-height: 40em;
        width: 80%;

        .sheet_item {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #878585;
            transition: background-color 0.3s;

            &:hover {
                background-color: #878585;
            }

            .sheet_info {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}