body {
  margin: 0
}

* {
  box-sizing: border-box;
}

table {
  border-spacing: 0;
}

td,
th {
  padding: 0.25em;
  border-right: 1px solid rgb(125, 125, 125);
  border-bottom: 1px solid rgb(125, 125, 125);
  min-width: 80px;
  min-height: 50px;
}

th {
  background-color: rgb(250, 250, 250);
}

td {
  background-color: white;
  text-align: center;
  position: relative;
  padding: 1em;
}

td>input{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  width: 100%;
  height: 100%;
  &:focus{
    border: 5px solid #1A73E8;
  }
}
