@use "variables";


/* Transitions for major components */
/* -- Slide and fade -- */
.slide_fade-enter-active, .slide_fade-leave-active {
    transition: all variables.$timing_slide_and_fade_transition ease-out;
}
.slide_fade-enter-from {
    transform: translateX(variables.$translate_slide_and_fade_transition);
    opacity: 0;
}
.slide_fade-leave-to {
    transform: translateX(-(variables.$translate_slide_and_fade_transition));
    opacity: 0;
}
.slide_fade-enter-to, .slide-fade-leave-from {
    opacity: 1;
}

/* -- Popup -- */
.pop_up-enter-active {
    animation: pop_up-in variables.$timing_popup_transition;
}
.pop_up-leave-active {
    animation: pop_up-in variables.$timing_popup_transition reverse;
}
@keyframes pop_up-in {
    0% {
        transform: scale(variables.$pop_up_scale_min);
    }
    50% {
        transform: scale(variables.$pop_up_scale_max);
    }
    100% {
        transform: scale(variables.$pop_up_scale_mid);
    }
}

/* -- Smooth fade -- */
.smooth_fade-enter-active {
    animation: smooth_fade-in variables.$timing_smooth_fade_transition;
}
.smooth_fade-leave-active {
    animation: smooth_fade-in variables.$timing_smooth_fade_transition reverse;
}
@keyframes smooth_fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Extend */
.extend-enter-active {
    animation: extend-in variables.$timing_extend_transition;
}
.extend-leave-active {
    animation: extend-in variables.$timing_extend_transition reverse;
}
@keyframes extend-in {
    0% {
        /*transform: scaleY(0);*/
        transform: translateY(-20px);
    }
    100% {
        /*transform: scaleY(1);*/
        transform: translateY(0px);
    }
}

/* -- Append -- */
.append-enter-active {
    animation: append-in variables.$timing_popup_transition;
}
.append-leave-active {
    animation: append-in variables.$timing_popup_transition reverse;
}
@keyframes append-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}


/* Minor Transitions */
* {
    transition: all ease variables.$timing_ease_transition,
    background-color variables.$timing_background_transition,
    border-color variables.$timing_border_transition,
    border ease variables.$timing_border_transition,
    box-shadow variables.$timing_shadow_transition,
    font-color variables.$timing_font_color_transition,
    color variables.$timing_font_color_transition,
    filter variables.$timing_filter_transition,
    translate variables.$timing_translate_transition,
    transform variables.$timing_transform_transition,
    scale variables.$timing_scale_transition,
    height variables.$timing_height_transition,
    size variables.$timing_height_transition,
    margin variables.$timing_margin_transition,
    width variables.$timing_width_transition,
    left variables.$timing_translate_transition,
    rotate variables.$timing_rotate_transition,
    content variables.$timing_content_transition,
}

